<div class="background">
    <div class="container">
        <h1>Want to see a specific genre?</h1>
        <p class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor erat non lacus placerat semper.<br>Nunc et tempor lacus. Nullam consectetur orci sed felis euismod, vitae sollicitudin massa pulvinar.</p>
    </div>
</div>
<ng-container *ngFor="let row of rows">
    <div class="row">
        <ng-container *ngFor="let item of row">
            <a class="col col-{{ item.size }}" [routerLink]="'/genre/' + item.url">
                <div class="item" style="background-image:url('{{ item.image.src }}')">
                    <h2>{{ item.name }}</h2>
                </div>
            </a>
        </ng-container>
    </div>
</ng-container>