:host 
{
    float: left;
    width: 100%;
    position: relative;
}

form 
{
    float: left;
    width: 100%;
}

h1 
{
    font-weight: 300;
    text-align: center;
}

button 
{
    margin-top: 1rem;
    width: 100%;
}

p 
{
    margin-top: 1rem;
    text-align: center;
}