<div class="container">
    <h1 class="h3">Settings</h1>
    <div class="row">
        <div class="_col col-3">
            <ul>
                <li><a [routerLink]='"."' fragment="changeUsername">Change username</a></li>
                <li><a [routerLink]='"."' fragment="changePassword">Change password</a></li>
            </ul>
        </div>
        <div class="_col col-9">
            <section id="changeUsername">
                <change-username></change-username>
            </section>
            <section id="changePassword">
                <change-password></change-password>
            </section>
        </div>
    </div>
</div>